<article class="tile" itemscope itemtype="http://schema.org/Article">

<p class="post-excerpt" itemprop="description">
  {% if post.eventdate %}<time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished"><font color="#759e35" size = "4">{{ post.eventdate | date: "%B %d, %Y" }}</font></time>
  {% endif %}
 </p>
 
  <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="post-teaser">
  {% if post.image.teaser %}
	<img src="{{ site.baseurl }}/images/{{ post.image.teaser }}" alt="teaser" itemprop="image">
  {% else %}
	<img src="{{ site.baseurl }}/images/{{ site.teaser }}" alt="teaser" itemprop="image">
  {% endif %}
  </a>
  
  <h2 class="post-title" itemprop="name">
	<a href="{{ site.baseurl }}{{ post.url }}">
	  <font color="#dc6b00" size = "5">{{ post.title }}</font>
	</a>
  </h2>
  
  
  <p class="post-excerpt" itemprop="description">
  {{ post.excerpt | strip_html | truncate: 200 }}
  </p>
</article><!-- /.tile -->