<article class="tile" itemscope itemtype="http://schema.org/Article">
  <a href="{{ site.baseurl }}{{ event.url }}" title="{{ event.title }}" class="post-teaser">{% if event.image.teaser %}<img src="{{ site.baseurl }}/images/{{ event.image.teaser }}" alt="teaser" itemprop="image">
    {% else %}<img src="{{ site.baseurl }}/images/{{ site.teaser }}" alt="teaser" itemprop="image">{% endif %}</a>
  <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ event.url }}">{{ event.title }}</a></h2>
  <p class="post-excerpt" itemprop="description">{{ event.excerpt | strip_html | truncate: 160 }}<br>
  {% if event.date %}<time datetime="{{ event.date | date: "%Y-%m-%d" }}" itemprop="datePublished"><font color="grey" size = "-1">posted on {{ event.date | date: "%B %d, %Y" }}</font></time></p>{% endif %}
</article><!-- /.tile -->

