---
layout: default
---

<div id="main" role="main">			
	<div class="wrap">
		<div class="page-title">
			<h1>{{ page.title }}</h1>
			
		</div>
		<div class="archive-wrap">
			<div class="page-content">
				{{ content }}
				<hr />
				<footer class="page-footer">
					{% if page.categories %}{% include page-author.html %}{% endif %}
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					<!-- {% include page-meta.html %}
				</footer><!-- /.footer -->
			</div><!-- /.page-content -->
		</div><!-- /.archive-wrap -->
	</div><!-- /.wrap -->
</div><!-- /#main -->